@charset "UTF-8";
/*!
Theme Name: WaterBrook Multnomah
Theme URI: http://underscores.me/
Author: Penguin Random House
Author URI: http://underscores.me/
Description: Custom theme: WaterBrook Multnomah developed by, Penguin Random House
Version: 1.0.0
Text Domain: wbm
Tags:

*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #F2F2F1; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  background: #dcdad7;
  color: #58595b; }

html, body {
  height: 100%; }

img {
  max-width: 100%;
  height: auto; }

iframe {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #68b2ae; }
  a:hover {
    color: #a9c9cd; }

.container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  min-height: 80%; }

.container.m-expanded {
  width: 95%; }

.main {
  padding-top: 2em; }

@media (min-width: 800px) {
  .container {
    width: 90%; } }

@media (min-width: 1096px) {
  .container {
    width: 98%; } }

@media (min-width: 1500px) {
  .container, .container.m-expanded {
    width: 1500px;
    padding-right: 10px;
    padding-left: 10px; } }

.bg {
  background: white;
  box-shadow: 0 8px 8px 0 rgba(128, 128, 128, 0.2); }

.main {
  padding-left: 128px;
  padding-right: 128px; }

@media only screen and (max-width: 1500px) {
  .main {
    padding-left: 10px;
    padding-right: 10px; } }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.1;
  font-weight: normal;
  color: #58595b;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1; }

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%; }

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px; }

h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%; }

h1,
.h1 {
  font-size: 36px; }

h2,
.h2 {
  font-size: 30px; }

h3,
.h3 {
  font-size: 24px; }

h4,
.h4 {
  font-size: 18px; }

h5,
.h5 {
  font-size: 14px; }

h6,
.h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

p.push-bottom {
  margin-bottom: 2em; }

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4; }

@media (min-width: 768px) {
  .lead {
    font-size: 21px; } }

small,
.small {
  font-size: 85%; }

mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

dl {
  margin-top: 0;
  margin-bottom: 20px; }

dt,
dd {
  line-height: 1.42857143; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-horizontal dd {
    margin-left: 180px; } }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777; }

.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee; }

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0; }

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777; }

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0'; }

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right; }

.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: ''; }

.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014'; }

.icon {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  display: inline-block;
  margin-right: 5px; }
  .icon svg {
    fill: #58595b;
    width: 30px;
    height: 30px;
    padding: 6px; }

.social-links .social-link {
  display: inline-block; }

.social-links .icon {
  vertical-align: middle;
  margin-right: 0;
  padding-left: 5px; }

.social-title {
  position: relative;
  top: 1px; }

.nav-links-social {
  display: inline-block; }
  .nav-links-social .icon {
    width: 25px;
    height: 25px; }
    .nav-links-social .icon svg {
      padding: 0;
      fill: white; }
  .nav-links-social .icon:hover svg {
    fill: #a9c9cd; }

.grid {
  letter-spacing: -.31em;
  *word-spacing: -.43em;
  text-rendering: optimizespeed;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start; }

.grid [class*='span'] {
  margin-right: 4%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.span_1 {
  width: 4.3333%;
  *width: 4.3023%; }

.span_2 {
  width: 12.6667%;
  *width: 12.6357%; }

.span_3 {
  width: 21%;
  *width: 20.969%; }

.span_4 {
  width: 29.3333%;
  *width: 29.3023%; }

.span_5 {
  width: 37.6667%;
  *width: 37.6357%; }

.span_6 {
  width: 46%;
  *width: 45.969%; }

.span_7 {
  width: 54.3333%;
  *width: 54.3023%; }

.span_8 {
  width: 62.6667%;
  *width: 62.6357%; }

.span_9 {
  width: 71%;
  *width: 70.969%; }

.span_10 {
  width: 79.3333%;
  *width: 79.3023%; }

.span_12 {
  width: 100%; }

.last {
  margin-right: 0; }

.grid .span_3:nth-child(4n) {
  margin-right: 0; }

@media screen and (max-width: 35.5em) {
  .span_1, .span_2, .span_3, .span_4, .span_5, .span_6, .span_7, .span_8, .span_9, .span_10, .span_11, .span_12 {
    width: 100%; } }

[role="button"] {
  cursor: pointer; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropup,
.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.dropdown-menu.pull-right {
  right: 0;
  left: auto; }

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7; }

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777; }

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }

.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: ""; }

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }

table {
  background-color: transparent; }

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left; }

th {
  text-align: left;
  font-weight: normal; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 20px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dcdad7; }

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd; }

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0; }

.table > tbody + tbody {
  border-top: 2px solid #dddddd; }

.table .table {
  background-color: #ffffff; }

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px; }

.table-bordered {
  border: 1px solid #dcdad7; }

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dcdad7; }

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5; }

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column; }

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell; }

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5; }

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8; }

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8; }

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6; }

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7; }

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3; }

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3; }

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc; }

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede; }

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc; }

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%; }

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dcdad7; }
  .table-responsive > .table {
    margin-bottom: 0; }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap; }
  .table-responsive > .table-bordered {
    border: 0; }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0; }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0; }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0; } }

.modal {
  display: none;
  width: 30%;
  background: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000; }
  .modal input, .modal textarea, .modal select {
    width: 100%; }

.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url("assets/images/close.png") no-repeat 0 0; }

.modal-btn {
  margin-bottom: 1em;
  display: inline-block; }

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(spinner.gif) #111 no-repeat center center;
  border-radius: 5px; }

@media only screen and (max-width: 1500px) {
  .modal {
    width: 50%; } }

@media only screen and (max-width: 875px) {
  .modal {
    width: 90%; } }

/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  color: #888;
  border: 1px solid #CCC;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="submit"] {
  color: white;
  background-color: #58595b;
  border: 2px solid #58595b;
  font-size: 14px;
  padding: 8px 20px; }

input[type="submit"]:hover {
  background-color: white;
  border-color: #58595b;
  color: #58595b; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
input[type="color"] {
  padding: 0.2em 0.5em; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  outline: 0;
  border-color: #dcdad7;
  color: #666666; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]):focus {
  outline: 0;
  border-color: #a9c9cd; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin solid #a9c9cd;
  outline: 1px auto #a9c9cd; }

.pure-checkbox,
.pure-radio {
  margin: 0.5em 0;
  display: block; }

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #eee;
  /* menu hover bg color */
  color: #777;
  /* menu text color */
  border-color: #ccc; }

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d; }

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d; }

select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white; }

select[multiple] {
  height: auto; }

label {
  margin: 0.5em 0 0.2em;
  color: #666;
  font-size: 0.85em; }

fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5; }

.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked input[type="file"],
.form-stacked select,
.form-stacked textarea {
  display: block;
  margin: 0 0 1em 0;
  width: 100%; }

.form-stacked label {
  display: block;
  margin: 0 0 0.25em 0;
  width: 100%; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0; }

.form-aligned input,
.form-aligned textarea,
.form-aligned select {
  display: block !important;
  *display: inline;
  *zoom: 1;
  overflow: hidden; }

.form-aligned textarea {
  vertical-align: top; }

/* Aligned Forms */
.form-aligned .control-group {
  margin-bottom: 0.5em; }

.form-aligned .control-group label {
  display: block;
  float: left;
  width: 10em;
  margin: 0 1em 0 0; }

.form-aligned .pure-controls {
  margin: 1.5em 0 0 11em; }

/* Rounded Inputs */
.form input.pure-input-rounded,
.form .pure-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em; }

/* Grouped Inputs */
.form .pure-group fieldset {
  margin-bottom: 10px; }

.form .pure-group input,
.form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px; }

.form .pure-group input:focus,
.form .pure-group textarea:focus {
  z-index: 3; }

.form .pure-group input:first-child,
.form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0; }

.form .pure-group input:first-child:last-child,
.form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0; }

.form .pure-group input:last-child,
.form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0; }

.form .pure-group button {
  margin: 0.35em 0; }

.form .pure-input-1 {
  width: 100%; }

.form .pure-input-3-4 {
  width: 75%; }

.form .pure-input-2-3 {
  width: 66%; }

.form .pure-input-1-2 {
  width: 50%; }

.form .pure-input-1-3 {
  width: 33%; }

.form .pure-input-1-4 {
  width: 25%; }

/* Inline help for forms */
/* NOTE: pure-help-inline is deprecated. Use .form-message-inline instead. */
.form .pure-help-inline,
.form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em; }

/* Block help for forms */
.form-message {
  display: block;
  color: #666;
  font-size: 0.875em; }

.input-control {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  cursor: pointer; }

.form-stacked .input-control {
  display: block; }

.input-control input {
  position: absolute;
  opacity: 0;
  z-index: -1; }

/* Custom Checkboxes */
.control-indicator {
  position: absolute;
  top: .2rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 65%;
  color: #fff;
  text-align: center;
  background-color: #fff;
  border: 2px solid #68b2ae;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  user-select: none; }

/* Focus */
.input-control input:focus ~ .control-indicator {
  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #68b2ae; }

/* Checked state */
.input-control input:checked ~ .control-indicator {
  color: #fff;
  background-color: #68b2ae; }

/* Active */
.input-control input:active ~ .control-indicator {
  color: #fff;
  background-color: #68b2ae; }

/* Checkbox modifiers */
.checkbox .control-indicator {
  border-radius: 50%; }

.checkbox input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=); }

.gform_wrapper label {
  font-weight: normal; }

.gform_wrapper ul li.gfield {
  margin-bottom: 1.5em; }

.gform_confirmation_message {
  background: #dff0d8;
  color: #3c763d;
  padding: 1.5em;
  margin: 2em 0; }

.gf_browser_ie.gform_wrapper .gform_footer input.button {
  padding: 10px 20px !important; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 2px solid transparent;
  background-color: #58595b;
  color: white; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:hover,
.btn:focus,
.btn.focus {
  color: #58595b;
  background: white;
  border-color: #58595b;
  text-decoration: none; }

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65; }

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none; }

.btn-primary:focus,
.btn-primary.focus {
  color: #58595b;
  background-color: white; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #58595b; }

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #58595b; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4; }

.btn-primary .badge {
  color: #337ab7;
  background-color: #fff; }

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625; }

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439; }

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439; }

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625; }

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none; }

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c; }

.btn-success .badge {
  color: #5cb85c;
  background-color: #fff; }

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da; }

.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85; }

.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc; }

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc; }

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85; }

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none; }

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da; }

.btn-info .badge {
  color: #5bc0de;
  background-color: #fff; }

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }

.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d; }

.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512; }

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512; }

.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d; }

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none; }

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236; }

.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff; }

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a; }

.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19; }

.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925; }

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925; }

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19; }

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none; }

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a; }

.btn-danger .badge {
  color: #d9534f;
  background-color: #fff; }

.btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0; }

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent; }

.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent; }

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none; }

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }

.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

.m-left {
  text-align: left; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.tab-nav, .sub-nav {
  margin: 0;
  display: block; }
  .tab-nav li, .sub-nav li {
    display: inline-block;
    padding: 0 10px 10px 10px;
    border-bottom: 2px solid #68b2ae;
    margin: 0 0 1em 5px; }
    .tab-nav li.active, .tab-nav li:hover, .tab-nav li.current-menu-item, .sub-nav li.active, .sub-nav li:hover, .sub-nav li.current-menu-item {
      border-bottom: 2px solid #a9c9cd; }

@media only screen and (min-width: 876px) {
  .m-border-top {
    border-top: 2px solid #a9c9cd;
    margin-top: -2px;
    z-index: 0; }
  .tab-nav, .sub-nav {
    text-align: center;
    list-style: none;
    padding: 0;
    z-index: 5;
    position: relative;
    border-bottom: 2px solid #68b2ae; }
    .tab-nav li, .sub-nav li {
      padding: 0 0 0 20px;
      position: relative;
      top: 2px;
      border-bottom: 2px solid #68b2ae;
      margin: 0; }
      .tab-nav li a, .tab-nav li span, .sub-nav li a, .sub-nav li span {
        color: #58595b;
        padding: 0.6em 1.5em;
        display: inline-block;
        margin-right: -5px; }
      .tab-nav li:after, .tab-nav li:before, .sub-nav li:after, .sub-nav li:before {
        width: 0;
        height: 0;
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        left: 50%; }
      .tab-nav li:after, .sub-nav li:after {
        border-top: 5px solid white;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        z-index: 1; }
      .tab-nav li:before, .sub-nav li:before {
        border-top: 8px solid #68b2ae;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        margin-bottom: -3px;
        margin-left: -3px; }
      .tab-nav li.active:before, .tab-nav li.active:after, .tab-nav li:hover:before, .tab-nav li:hover:after, .sub-nav li.active:before, .sub-nav li.active:after, .sub-nav li:hover:before, .sub-nav li:hover:after {
        bottom: -2px;
        border-top: none; }
      .tab-nav li.active:before, .tab-nav li:hover:before, .sub-nav li.active:before, .sub-nav li:hover:before {
        border-bottom: 8px solid #a9c9cd;
        margin-bottom: 0;
        margin-left: -3px; }
      .tab-nav li.active:after, .tab-nav li:hover:after, .sub-nav li.active:after, .sub-nav li:hover:after {
        border-bottom: 5px solid white; } }

@media only screen and (max-width: 35.5em) {
  .tab-nav {
    text-align: center; }
  .tab-nav li {
    text-transform: capitalize; } }

.header-wrapper {
  background-color: white;
  border-bottom: 5px solid #58595b; }

.header {
  margin-bottom: 10px;
  padding: 30px 0 20px 0; }

.header-logo .logo {
  max-height: 90px;
  padding-top: 12px;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.header-search {
  position: relative;
  top: -2px;
  padding-right: 2%;
  padding-top: 25px;
  width: 230px;
  display: inline-block; }
  .header-search #invserchbtn {
    position: absolute;
    height: 40px;
    width: 40px;
    display: none;
    z-index: 100; }
  .header-search .search-field {
    width: 160px;
    border: 2px solid #58595b;
    border-radius: 0;
    height: 40px; }
  .header-search .search-submit {
    display: block;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    width: 40px;
    height: 40px;
    background: url("assets/images/search.png") 11px 10px no-repeat;
    background-color: #58595b;
    padding: 17px;
    border: 2px solid #58595b;
    float: left; }
    .header-search .search-submit:hover {
      background-color: #fff;
      background: url("assets/images/search_blk.png") 11px 10px no-repeat; }

.nav, .header-search, .header-social {
  padding-top: 1.5em;
  padding-bottom: 2em;
  margin: 0; }

.cart-btn {
  display: inline;
  padding: 10px;
  position: relative;
  top: -7px; }
  .cart-btn:hover .icon {
    fill: #58595b; }
  .cart-btn .icon {
    fill: #fff;
    width: 20px;
    position: relative;
    top: 9px; }
    .cart-btn .icon svg {
      fill: #fff; }

.header .nav {
  margin-right: 2%;
  width: auto; }

.header .header-search {
  margin-right: 2%; }

.header-logo {
  width: 24%;
  margin-right: 4% !important; }

.nav-wrapper {
  width: 72%;
  margin-right: 0 !important; }

.nav {
  margin: 0; }

.header-social {
  margin-right: 0 !important;
  position: relative;
  display: inline-block;
  position: relative;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.nav-links-social {
  margin-left: 50px;
  display: inline-block;
  position: relative;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  padding-top: 1.5em;
  padding-bottom: 2em; }
  .nav-links-social .icon {
    fill: #58595b;
    width: 20px;
    margin-right: 10px; }
    .nav-links-social .icon:hover {
      fill: #68b2ae; }
    .nav-links-social .icon svg {
      fill: #58595b; }
      .nav-links-social .icon svg:hover {
        fill: #68b2ae; }

@media only screen and (max-width: 1500px) {
  .header-search {
    width: 40px;
    padding-right: 0px; }
    .header-search #invserchbtn {
      display: block; }
    .header-search .search-field {
      display: none;
      position: absolute;
      left: 40px;
      z-index: 100;
      padding: 0px; }
  .header-social .nav-links-social {
    position: absolute;
    width: 100%;
    right: 0;
    top: -10px; } }

.footer {
  background: white;
  border-top: 5px solid #58595b;
  color: #58595b;
  padding-top: 1em;
  padding-bottom: 1em; }

.footer .nav-links-social {
  margin-top: 0.5em; }

.footer .nav-links-social .icon {
  width: 20px;
  height: 20px;
  fill: #58595b; }
  .footer .nav-links-social .icon:hover {
    fill: #58595b; }

.footer-wrap {
  padding: 0;
  font-size: 14px; }

.footer-copy {
  font-size: 12px; }

.footer-links li {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 0.5em; }
  .footer-links li a {
    color: #58595b; }
  .footer-links li a:hover {
    color: #58595b; }

.nav-links-item {
  display: inline-block;
  margin: 0 20px 0 0;
  position: relative;
  border-bottom: 2px solid #68b2ae; }
  .nav-links-item a {
    font-size: 13px;
    color: #58595b;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 15px 7px 15px; }
  .nav-links-item a:hover, .nav-links-item.active a .nav-links-top {
    color: #68b2ae;
    border-bottom-color: #68b2ae; }

.nav-links-top:after, .nav-links-top:before {
  width: 0;
  height: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 43%; }

.nav-links-top:after {
  border-bottom: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  z-index: 1;
  margin-top: 2px; }

.nav-links-top:before {
  border-bottom: 8px solid #68b2ae;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-top: -3px;
  margin-left: -3px; }

.nav-links-top.active {
  border-bottom-color: #a9c9cd; }
  .nav-links-top.active .top-link {
    color: #68b2ae; }
  .nav-links-top.active:before, .nav-links-top.active:after {
    bottom: -5px; }
  .nav-links-top.active:before {
    border-top: 8px solid #a9c9cd;
    border-bottom: none;
    margin-bottom: -3px;
    margin-left: -3px; }
  .nav-links-top.active:after {
    border-top: 5px solid white;
    border-bottom: none; }

.nav-links-children {
  display: none;
  position: absolute;
  text-align: center;
  background-color: #68b2ae;
  left: -25px;
  top: auto;
  margin: 2px 0 0 0;
  padding: 0;
  z-index: 10;
  width: 120px;
  border-bottom: 3px solid #68b2ae; }
  .nav-links-children li {
    display: block;
    padding: 0.5em;
    margin: 0 10px 0 10px;
    border-bottom: 1px solid #c0dfe3; }
  .nav-links-children li:last-child {
    border-bottom: none; }
  .nav-links-children a {
    color: white;
    display: block;
    font-size: 11px;
    padding: 0;
    width: 100%;
    line-height: 1.25; }
  .nav-links-children a:hover {
    color: #eee; }

.allow-hover:hover > .nav-links-children {
  display: block;
  position: absolute; }

.allow-hover:last-child .nav-links-children {
  left: -11px; }

.allow-hover:hover.nav-links-top:after, .allow-hover:hover.nav-links-top:before {
  border-bottom-color: transparent; }

.search-form {
  position: relative;
  height: 35px; }
  .search-form .screen-reader-text {
    display: none; }

.search-submit {
  display: none; }

.search-field {
  height: 35px;
  width: 0px;
  max-width: 175px;
  padding: 5px;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #dcdad7;
  font-weight: normal;
  border-radius: 5px;
  margin-right: 5px; }

.sub-nav {
  border-bottom: none;
  margin-top: 0;
  padding-top: 1em;
  margin-bottom: 0; }

.sub-nav .list-unstyled {
  margin-top: 0;
  border-bottom: 2px solid #68b2ae; }

li.current-menu-item:before li.current-menu-item:after, li.current-menu-item:before, li.current-menu-item:after {
  bottom: -2px;
  border-top: none; }

li.current-menu-item:before, li.current-menu-item:before {
  border-bottom: 8px solid #a9c9cd;
  margin-bottom: 0;
  margin-left: -3px; }

li.current-menu-item:after, li.current-menu-item:after {
  border-bottom: 5px solid white; }

#toggle-nav {
  display: none; }

@media only screen and (max-width: 1150px) {
  #nav {
    width: 70%; }
  .header {
    margin-bottom: 0px;
    padding: 10px 0 0px 0; }
  .header-wrapper {
    padding-bottom: 0em; }
  .header-logo {
    width: 25%; }
  .header .nav {
    margin-right: 0%;
    width: auto; }
  .nav {
    width: 100%;
    border-right: none; }
  .nav-links-social {
    display: none; } }

@media only screen and (max-width: 875px) {
  .sub-nav .list-unstyled {
    border-bottom: none; }
  #toggle-nav {
    background: url("assets/images/hamburger.png") 15px 50% no-repeat;
    position: absolute;
    top: 1em;
    left: 1em;
    display: block;
    width: 48px;
    height: 40px;
    text-indent: -9999px;
    background-size: 25px 20px; }
  .header-wrapper {
    padding-bottom: 0; }
  .header-search, .header-social {
    position: relative;
    top: auto;
    left: auto;
    right: auto; }
  .header {
    padding: 0;
    margin-bottom: 0; }
  .header-search #invserchbtn {
    display: none; }
  .header-search .search-field {
    display: block; }
  .header-logo {
    width: 71%;
    border-right: none;
    margin-left: 21%; }
  #nav {
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    text-align: left;
    height: 0;
    overflow: hidden; }
  #nav.nav-open {
    height: auto;
    overflow: visible; }
  .nav {
    width: 100%; }
  .nav-links {
    padding: 0;
    margin-bottom: 15px; }
  .nav-links-item {
    width: 100%;
    padding: 0.5em 0;
    margin-right: 0; }
    .nav-links-item:after, .nav-links-item:before {
      border-color: transparent; }
  .header-search {
    width: 100%; }
  .header-social {
    padding-left: 0; }
  .nav-links-children {
    display: block;
    position: static;
    float: none;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none; }
  .header-search {
    padding-bottom: 0; }
  .header-search .search-submit {
    right: 2px; }
  .nav-links-children li {
    display: none; }
  .search-field {
    width: 100% !important;
    padding: 5px !important; } }

@media only screen and (max-width: 35.5em) {
  #toggle-nav {
    background-size: 19px 16px;
    top: 0.6em; } }

.leaderboard {
  text-align: center;
  background: #dcdad7;
  border-bottom: 10px solid white; }

.leaderboard-image {
  margin: 1em;
  padding: 0.5em;
  display: inline-block; }
  .leaderboard-image img {
    width: 100%; }

@media only screen and (max-width: 875px) {
  .leaderboard-image {
    padding: 0;
    margin-bottom: 1em; } }

.wbm-audio-player h3 {
  margin-top: 0; }

.wbm-audio-player .mejs-container {
  margin: 1em 0; }

.book-list {
  position: relative;
  margin-bottom: 2em; }

.book-list-item {
  margin-bottom: 1em;
  transition: .3s all;
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }
  .book-list-item:hover .book-list-image {
    opacity: 0.8; }
  .book-list-item:hover .book-list-item-title {
    color: #68b2ae; }

.book-list-title {
  font-weight: bold;
  font-size: 20px; }
  .book-list-title a {
    color: #58595b; }
    .book-list-title a:after {
      content: '▶';
      font-size: 8px;
      margin-left: 3px;
      position: relative;
      top: -3px; }

.book-list-item-author {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #999; }

.book-list-item-title {
  font-size: 15px;
  font-weight: bold;
  color: #58595b;
  margin-bottom: 0;
  line-height: 1.2; }

.book-list-btn {
  text-align: center;
  text-transform: uppercase;
  margin-top: -1em; }

.book-list-tabs {
  margin-bottom: 0; }

.book-list-tab-content > .book-list-tab-pane {
  display: none;
  padding: 1em; }

.book-list-tab-content > .active {
  display: block; }

.book_col5 .book-list-item {
  text-align: left;
  width: 15%;
  margin-right: 5%; }

@media only screen and (max-width: 1096px) {
  .hide-last .book-list .book-list-item:last-of-type {
    display: none; }
  .book_col5 .book-list-item {
    width: 20%;
    margin-bottom: 2em !important; } }

@media only screen and (max-width: 35.5em) {
  .book_col5 .list-unstyled {
    padding: 0; }
  .book_col5 .book-list-item {
    width: 45%;
    margin-bottom: 2em !important; }
  .book_col5 .book-list-item:nth-of-type(2n) {
    margin-right: 0; } }

.entry {
  margin-bottom: 2em;
  padding: 2em 0;
  text-align: left;
  border-bottom: 1px solid #F2F2F1; }

.entry:first-of-type {
  padding-top: 0; }

.entry:last-of-type {
  border-bottom: none; }

.entry-title {
  font-size: 22px;
  color: #58595b;
  margin: 0; }
  .entry-title a {
    color: #58595b; }
  .entry-title a:hover {
    color: #68b2ae; }

.entry-index-image {
  margin-bottom: 1em; }
  .entry-index-image img {
    border: 2px solid #ddd;
    box-shadow: 0px 0px 2px 0px rgba(100, 100, 100, 0.5); }

.page-title {
  margin-bottom: 1em; }

.entry-meta {
  font-size: 14px;
  margin-bottom: 1em; }

.entry .btn-primary {
  width: 100%; }

.entry-book {
  max-width: 150px;
  float: left;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-top: 0.25em; }

@media only screen and (max-width: 1096px) {
  .entry-item {
    width: 100%; }
  .entry-book {
    max-width: 130px;
    padding-right: 1.25em;
    padding-bottom: 1.25em; } }

.index .book-list-tab-content {
  border-bottom: 1px solid #F2F2F1; }

.index-blog {
  text-align: center; }

.ad-300x250 {
  margin-bottom: 1em; }

.podcast-subscribe {
  text-align: center;
  margin-bottom: 2em; }

.index-blog {
  margin-bottom: 3em; }

.index .book-list-item {
  width: 20%;
  *width: 18.969%;
  padding-right: 5%;
  margin-right: 5%;
  border-right: 1px solid #F2F2F1; }

.index .book-list-item:first-child {
  margin-left: 4%; }

.index .book-list-item:last-child {
  border-right: none;
  margin-right: 0; }

@media only screen and (max-width: 875px) {
  .index-blog, .index-side {
    width: 100%; } }

@media only screen and (max-width: 35.5em) {
  .index .book-list-item:first-child {
    margin-left: 0; }
  .index .book-list-item {
    width: 44%;
    margin-right: 10%; }
  .index .book-list-item:nth-child(2n) {
    border-right: none;
    margin-right: 0; } }

.newsletter {
  text-align: center;
  border-bottom: 1px solid #F2F2F1;
  padding: 0 0 3em 0;
  margin-bottom: 4em; }

.newsletter-title {
  font-size: 20px;
  font-weight: normal; }

.newsletter-caption {
  font-size: 14px;
  color: #58595b; }

.newsletter-checkbox {
  margin-right: 20px;
  font-weight: normal;
  font-size: 14px; }
  .newsletter-checkbox input[type="checkbox"] {
    margin-right: 5px; }
  .newsletter-checkbox:last-of-type {
    margin-right: 0; }

.newsletter-signup {
  border: none;
  margin-top: 1em; }
  .newsletter-signup .textbox {
    width: 50%; }

.newsletter-side .newsletter-checkbox {
  display: block; }

.newsletter-side .newsletter-signup {
  text-align: center; }

.newsletter-side .textbox {
  width: 100%; }

.newsletter-side .submit {
  margin: 0.5em 0 2em 0;
  width: 90%; }

@media only screen and (max-width: 35.5em) {
  .newsletter {
    text-align: left; }
  .newsletter-checkbox {
    display: block; }
  .newsletter-signup .textbox {
    width: 100%; }
  .newsletter-signup .submit {
    display: block;
    margin: 1em 0; } }

.pagination {
  padding: 2em 0;
  margin-top: 1em;
  border-top: 1px solid #F2F2F1; }
  .pagination .page-numbers {
    border: 1px solid #68b2ae;
    border-radius: 3px;
    color: #68b2ae;
    padding: 5px 15px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 1em; }
  .pagination .page-numbers:hover, .pagination .page-numbers.current {
    background: #68b2ae;
    color: white;
    border-color: #68b2ae; }

.single-item {
  margin-bottom: 3em; }
  .single-item table {
    max-width: 100% !important;
    display: block; }

@media only screen and (max-width: 1096px) {
  .single {
    padding-right: 0; }
  .single-item {
    width: 100%; } }

.browse {
  text-align: center;
  margin: 4em 0; }

.browse-item {
  display: inline-block;
  margin: 1em; }
  .browse-item a {
    color: #58595b;
    padding: 0.5em 1.5em;
    background: white;
    border: 2px solid #dcdad7; }
  .browse-item a:hover {
    background: #68b2ae;
    color: white;
    border-color: #68b2ae; }

.books {
  padding-bottom: 10em; }

.books .book-list {
  margin-bottom: 4em; }

.books .book-list-block {
  padding: 2em 1em;
  border-top: 2px solid #68b2ae; }

.books-list .book-list-item {
  margin-bottom: 3em; }

.book {
  padding-top: 3em; }

.book-image img {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

.book-title {
  color: #333;
  margin-bottom: 0.1em;
  margin-top: 0; }

.book-subtitle {
  margin-top: 0;
  margin-bottom: 0.25em; }

.book-author {
  margin: 0;
  font-weight: bold;
  font-size: 16px; }

.book-meta {
  padding-bottom: 1em;
  border-bottom: 1px solid #F2F2F1;
  font-weight: normal; }
  .book-meta h4 {
    font-size: 16px;
    font-weight: normal; }

.book-category-title {
  margin-bottom: 0.25em; }

.book-series {
  margin-top: 0; }

.book-category:after {
  content: ', '; }

.book-category:last-child:after {
  content: ''; }

.book-formats {
  padding-bottom: 1.5em;
  border-bottom: 1px solid #F2F2F1;
  margin-bottom: 0; }

.book-format {
  position: relative;
  border-right: 1px solid #F2F2F1;
  margin-bottom: 1em; }

.book-format:last-child {
  border-right: none; }

.icon-format svg {
  fill: #CCCCCB;
  width: 35px;
  height: 47px;
  padding: 0; }

.book-info {
  margin-bottom: 0.5em;
  margin-left: 10px; }

.book-info-title {
  margin-top: 0.25em;
  margin-bottom: 0; }

.book-info-price {
  font-size: 14px; }

.book-format-info {
  font-size: 0.75em;
  color: #333;
  margin-bottom: 0.5em; }

.book-actions {
  text-transform: uppercase;
  font-size: 12px; }

.book-excerpt {
  text-align: center;
  font-size: 0.9em;
  line-height: 1.1;
  padding-right: 10px;
  border-right: 1px solid #dcdad7;
  margin-top: 1em; }

.icon-start {
  display: inline-block;
  width: 100%;
  fill: #dcdad7; }

.book-social-links {
  margin-top: 2em;
  margin-right: 0 !important;
  width: 50%; }
  .book-social-links a {
    color: #58595b; }
  .book-social-links a:hover {
    color: #68b2ae; }

.book-social-links .social-link {
  margin-right: 0.75em;
  padding: 0 0.75em 0 0;
  border-right: 2px solid #58595b; }

.book-social-links .social-link:last-child {
  border-right: none; }

.book-social-links .icon {
  background-color: transparent;
  color: #58595b;
  width: 25px;
  height: 25px;
  padding: 0; }
  .book-social-links .icon svg {
    fill: #58595b; }

.book-social-links .icon-social-website {
  width: 22px;
  height: 22px;
  position: relative;
  top: -4px; }
  .book-social-links .icon-social-website svg {
    width: 22px;
    height: 22px; }

.add-to-cart {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  width: 215px; }
  .add-to-cart img {
    position: relative;
    top: 12px; }
  .add-to-cart .btn {
    margin-left: 13px;
    font-size: 12px; }

.book-container {
  margin-top: 5em; }

.book-container .book-section:last-child {
  border-bottom: none; }

.author-item .book-section:last-child {
  border-bottom: none; }

.book .tab-pane {
  background: #F9F9F9;
  padding: 0 2em;
  border-bottom: 3px solid #68b2ae; }

.book-tabs {
  text-align: left; }

.book-section {
  padding-bottom: 2em;
  padding-top: 2em;
  border-bottom: 1px solid #dcdad7; }
  .book-section h3 {
    font-size: 21px; }
  .book-section h3:first-child {
    margin-top: 0; }
  .book-section .btn {
    margin-right: 1em; }

.book-product-details p {
  margin: 0.25em 0; }

.book-publicist-title {
  margin-top: 2em;
  margin-bottom: 0.25em;
  color: #58595b;
  padding-top: 1em;
  border-top: 1px solid #eee; }

.book-publicist-link {
  display: block;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee; }

.review-author {
  position: relative; }
  .review-author a {
    color: #58595b; }
  .review-author a:hover {
    color: #68b2ae; }

.rating {
  background: url("assets/images/star-sprite.png") repeat-x;
  font-size: 0;
  height: 20px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0; }

.rating-stars {
  background: url("assets/images/star-sprite.png");
  background-position: 0 100%;
  float: left;
  height: 20px;
  display: block; }

.book-also-like {
  margin-top: 4em;
  text-align: center; }
  .book-also-like h3 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #68b2ae;
    position: relative;
    margin-bottom: 1.5em; }
    .book-also-like h3:after, .book-also-like h3:before {
      width: 0;
      height: 0;
      content: "";
      display: block;
      position: absolute;
      bottom: -5px;
      left: 50%; }
    .book-also-like h3:after {
      border-top: 5px solid white;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      z-index: 1; }
    .book-also-like h3:before {
      border-top: 9px solid #68b2ae;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      margin-bottom: -4px;
      margin-left: -4px; }

@media only screen and (max-width: 1500px) {
  .icon-format {
    width: 12.6667%;
    *width: 12.6357%; }
  .book-info {
    width: 62.6667%;
    *width: 62.6357%; } }

@media only screen and (max-width: 1096px) {
  .book-header {
    width: 100%; }
  .book .tab-content {
    width: 100%; }
  .book-image {
    width: 36%; }
  .book-social-links .social-link {
    margin-right: 0.25em;
    padding-right: 0.5em; }
  .book-header-info {
    width: 56%; }
  .book-author {
    margin-bottom: 0.5em; } }

@media only screen and (max-width: 875px) {
  .book-image {
    width: 26%; }
  .book-header-info {
    width: 66%; }
  .book-format {
    width: 46%; }
  .book-excerpt {
    width: 46%; }
  .book-social-links {
    width: 100%; }
  .book-excerpt:last-of-type {
    border-right: none; }
  .review-author a {
    margin-bottom: 1em; }
  .rating {
    position: static;
    height: 30px;
    margin-top: 10px; }
  .side {
    width: 100%; } }

@media only screen and (max-width: 35.5em) {
  .book-formats {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0; }
  .book-title {
    margin-top: 1em; }
  .book-format {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #F2F2F1;
    padding-bottom: 1em;
    margin-bottom: 1em; }
  .book-excerpt {
    border-right: none;
    border-bottom: 1px solid #F2F2F1;
    padding-bottom: 1em; }
  .book-section .btn {
    margin-bottom: 2em;
    font-size: 18px; }
  .book-section .btn:last-child {
    margin-bottom: 0; }
  .book .book-list-item {
    width: 46%; }
  .book-tab-content {
    padding: 0.5em; }
  .book-image, .book-header-info {
    width: 100%; } }

.author-related .index-post {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #eee;
  margin-bottom: 2em; }

.author-index-title {
  text-align: center; }
  .author-index-title .arrow-down {
    display: block;
    padding-bottom: 8px;
    font-size: 1.2em; }

.authors-list {
  margin-top: 0;
  padding: 4em 0; }

.author-list-item, .author-index-item {
  margin-bottom: 2em; }
  .author-list-item a, .author-index-item a {
    color: #58595b; }
  .author-list-item:hover .author-image-box, .author-index-item:hover .author-image-box {
    opacity: 0.8; }
  .author-list-item:hover .book-list-item-title a, .author-index-item:hover .book-list-item-title a {
    color: #68b2ae; }

.author-initials {
  font-size: 2.5em;
  position: relative;
  top: 35%;
  text-shadow: 2px 2px #ABABAB; }

.author-image-box {
  position: relative;
  height: 200px;
  background: #ddd; }

.author-image-initials {
  background-image: url("assets/images/texture.jpg");
  height: 200px;
  width: 100%;
  vertical-align: middle;
  text-align: center; }

.author-index-item .author-image-box,
.author-index-item .author-image-initials {
  height: 300px; }

.author-index-btn {
  margin-bottom: 4em; }
  .author-index-btn .btn {
    font-size: 1em; }

.author-item-title {
  margin-top: 0;
  color: #222; }

.author-container {
  padding-bottom: 4em; }

.author-social-links {
  border-top: 1px solid #F2F2F1;
  padding: 10px 0;
  width: 100%;
  font-size: 12px; }
  .author-social-links .social-link {
    min-width: 140px;
    margin-bottom: 1em; }
  .author-social-links .social-link:nth-of-type(3n) {
    border-right: none; }

.author .social-title {
  text-transform: uppercase; }

@media only screen and (max-width: 1096px) {
  .author-index-item {
    width: 20%; }
  .author-index-item .author-image-box,
  .author-index-item .author-image-initials {
    height: 200px; } }

@media only screen and (max-width: 875px) {
  .book_col5 .author-list-item {
    width: 28%; }
  .author-image-box, .author-image-initials {
    height: 250px; }
  .author-index-item {
    width: 28%; }
  .authors-list, .author-index-item:nth-child(4n) {
    margin-right: 4% !important; }
  .author-index-item .author-image-box,
  .author-index-item .author-image-initials {
    height: 200px; } }

@media only screen and (max-width: 35.5em) {
  .book_col5 .author-list-item {
    width: 45%; }
  .author-item {
    padding: 0 0.5em 0.5em 0.5em; }
  .author-image-box, .author-image-initials {
    height: 180px; }
  .author-index-item {
    width: 45%; }
  .author-index-item .author-image-box,
  .author-index-item .author-image-initials {
    height: 180px; } }

.side-link {
  display: block;
  text-align: left;
  padding: 0.5em 0;
  color: #58595b;
  border-bottom: 1px solid #F2F2F1; }

.side h3 {
  margin-top: 0; }

.side-links li:last-child {
  margin-bottom: 3em; }

.newsletter-side .newsletter {
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 2em; }

@media only screen and (max-width: 1096px) {
  .newsletter-side, .ad-side, .index-side {
    width: 100%; }
  .ad-300x250 {
    float: left;
    width: 46%;
    margin-right: 4%; } }

@media only screen and (max-width: 35.5em) {
  .newsletter-side, .ad-side {
    width: 100%; } }

.comments-title {
  font-size: 24px; }

.comment-list {
  padding-left: 0; }

.comment {
  list-style-type: none;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #e6e6e6; }

.comment-respond {
  width: 75%; }

.comment-metadata {
  font-size: 12px; }
  .comment-metadata a {
    color: #58595b; }

.comment-form-comment label, .comment-form label {
  display: block; }

.comment-form-comment textarea,
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  display: block;
  margin: 0 0 1em 0;
  width: 80%;
  padding: 0.5em 0.6em;
  color: #666;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.comment-form-comment textarea:focus,
.comment-form input[type="text"]:focus,
.comment-form input[type="email"]:focus,
.comment-form input[type="url"]:focus {
  outline: 0;
  border-color: #a9c9cd;
  color: #888; }

.comment-form-comment textarea {
  width: 100%; }

.form-submit input[type="submit"] {
  color: white;
  background-color: #68b2ae;
  border-color: transparent;
  float: right; }

.form-submit:after {
  content: '';
  display: table;
  clear: both; }

.form-submit input[type="submit"]:hover {
  background-color: #a9c9cd;
  color: white;
  border-color: #a9c9cd; }

@media only screen and (max-width: 875px) {
  .comment-respond {
    width: 100%; } }

.about-post {
  margin: 2em 1em;
  padding-bottom: 2em;
  text-align: left;
  border-bottom: 1px solid #e6e6e6; }

.about-post:last-of-type {
  border-bottom: none; }

.about-blog-btn {
  margin-bottom: 3em; }

.search-page {
  padding: 2em;
  position: relative; }

.search-results .index-post {
  box-shadow: none;
  border-top: none;
  padding: 1em;
  border-bottom: 1px solid #eee; }

.search-count {
  position: absolute;
  top: 1em;
  right: 1em;
  font-weight: bold;
  font-size: 14px; }

.search-item .btn {
  display: block;
  width: 100%; }

.search-item .add-to-cart .btn {
  display: inline-block;
  width: auto; }

.facets-group {
  margin-bottom: 2em; }

.facets-group:first-of-type {
  margin-top: 1em; }

#searchCont.is-loading {
  opacity: 0.5; }

@media only screen and (max-width: 875px) {
  .search .tab-content {
    width: 100%; }
  .search .search-side {
    width: 100%; }
  .search-news-list {
    order: 1; }
  .search-news-sidebar {
    order: 2; }
  .facets-group {
    width: 50%;
    float: left;
    min-height: 100px; }
  .facets-group:first-of-type {
    margin-top: 0; }
  .search-item .span_2 {
    width: 30%; }
  .search-item .span_9 {
    width: 66%;
    margin-right: 0;
    font-size: 0.9em; } }

.fourohfour h3 {
  font-weight: normal; }

.fourohfour-search {
  width: 50%;
  margin: 0 auto; }

.fourohfour-search .search-field {
  padding: 5px;
  font-size: 18px;
  max-width: 100%;
  width: 100%;
  display: block;
  margin: 1em 0 4em 0; }

.fourohfour-list {
  margin-bottom: 15em; }

@media only screen and (max-width: 875px) {
  .fourohfour-search {
    width: 100%; } }

.podcast:after {
  content: '';
  display: table;
  clear: both; }

.podcast .entry-book {
  width: 150px;
  display: inline-block; }

/** audio player styles **/
.audio-player, .audio-player div, .audio-player h2, .audio-player a, .audio-player span, .audio-player button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

div.audio-player {
  position: relative;
  width: 500px;
  height: 140px;
  margin: 0 auto;
  background: #eee !important;
  background: -webkit-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
  background: -moz-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
  background: -o-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
  background: -ms-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
  background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  max-width: 100%;
  margin-left: 0; }

.audio-player h2 {
  font-size: 16px;
  margin-top: 2.5em;
  padding: 1em; }

/* play/pause control */
.mejs-controls .mejs-button button {
  cursor: pointer;
  display: block;
  position: absolute;
  text-indent: -9999px;
  background: transparent url("assets/images/audioplayer.png"); }

.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
  width: 40px;
  height: 40px;
  top: 25px;
  left: 10px; }

.mejs-controls .mejs-pause button {
  background-position: 0 -42px; }

/* mute/unmute control */
.mejs-controls .mejs-mute button, .mejs-controls .mejs-unmute button {
  width: 32px;
  height: 30px;
  top: 3px;
  right: 142px;
  background-position: 0 -168px; }

.mejs-controls .mejs-unmute button {
  background-position: -38px -168px; }

.btn-audio {
  margin-top: 1em; }

/* volume scrubber bar */
.mejs-horizontal-volume-slider {
  position: absolute;
  top: 13px;
  right: 15px;
  cursor: pointer; }

.mejs-offscreen {
  display: none; }

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  width: 120px;
  height: 11px;
  background: #212227;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  position: absolute;
  width: 0;
  height: 9px;
  top: 1px;
  left: 1px;
  background: #68b2ae;
  background: -webkit-linear-gradient(top, #a9c9cd 0%, #a9c9cd 100%);
  background: -moz-linear-gradient(top, #a9c9cd 0%, #a9c9cd 100%);
  background: -o-linear-gradient(top, #a9c9cd 0%, #a9c9cd 100%);
  background: -ms-linear-gradient(top, #a9c9cd 0%, #a9c9cd 100%);
  background: linear-gradient(top, #a9c9cd 0%, #a9c9cd 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }

/* time scrubber bar */
.mejs-controls div.mejs-time-rail {
  width: 380px; }

.mejs-controls .mejs-time-rail span {
  position: absolute;
  display: block;
  width: 380px;
  height: 12px;
  top: 40px;
  left: 55px;
  cursor: pointer;
  -webkit-border-radius: 0px 0px 2px 2px;
  -moz-border-radius: 0px 0px 2px 2px;
  border-radius: 0px 0px 2px 2px; }

.mejs-controls .mejs-time-rail .mejs-time-total {
  background: #565860;
  width: 380px !important;
  /* fixes display bug using jQuery 1.8+ */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.mejs-controls .mejs-time-rail .mejs-time-loaded {
  top: 0;
  left: 0;
  width: 0;
  background: #7b7d82;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.mejs-controls .mejs-time-rail .mejs-time-current {
  top: 0;
  left: 0;
  width: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #68b2ae;
  background: -webkit-linear-gradient(top, #a9c9cd 0%, #a9c9cd 100%);
  background: -moz-linear-gradient(top, #a9c9cd 0%, #a9c9cd 100%);
  background: -o-linear-gradient(top, #a9c9cd 0%, #a9c9cd 100%);
  background: -ms-linear-gradient(top, #a9c9cd 0%, #a9c9cd 100%);
  background: linear-gradient(top, #a9c9cd 0%, #a9c9cd 100%); }

/* metallic sliders */
.mejs-controls .mejs-time-rail .mejs-time-handle {
  position: absolute;
  display: block;
  width: 20px;
  height: 22px;
  top: -6px; }

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
  position: absolute;
  display: block;
  width: 12px;
  height: 14px;
  top: -1px; }

/* time progress tooltip */
.mejs-controls .mejs-time-rail .mejs-time-float {
  position: absolute;
  display: none;
  width: 33px;
  height: 23px;
  top: -26px;
  margin-left: -17px;
  z-index: 9999; }

.mejs-controls .mejs-time-rail .mejs-time-float-current {
  width: 33px;
  display: block;
  left: 0;
  top: 4px;
  /** font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; **/
  font-size: 10px;
  font-weight: bold;
  color: #666;
  text-align: center;
  z-index: 9999; }

.mejs-currenttime, .mejs-duration {
  color: #58595b;
  font-size: 10px; }

.mejs-currenttime {
  position: relative;
  top: 45px;
  left: 55px; }

.mejs-duration {
  position: relative;
  top: 20px;
  left: 410px; }

.form-preferences {
  margin: 2em auto; }
  .form-preferences h3 {
    margin-top: 1em;
    margin-bottom: 0.5em; }
  .form-preferences .btn {
    margin-top: 1em; }
  .form-preferences .sub {
    margin-bottom: 20px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.cf:after, .form-aligned .control-group:after {
  content: '';
  display: table;
  clear: both; }

.text-hide, .screen-reader-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 2em !important;
  margin-bottom: 2em !important; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  padding-right: 2em;
  padding-bottom: 2em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px; }

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.text-center {
  text-align: center; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.push-bottom {
  margin-bottom: 2em; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.video-wrapper {
  max-width: 500px; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0; }
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.google-map-container {
  position: relative;
  padding-bottom: 75%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }
  .google-map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.pad-right {
  padding-right: 4em; }

.push-right {
  margin-right: 2em; }

.push-bottom {
  margin-bottom: 2em; }

.button-box {
  position: relative; }

.arrow-down {
  position: relative;
  top: 2px;
  border-bottom: 2px solid #68b2ae;
  margin: 0; }
  .arrow-down:after, .arrow-down:before {
    width: 0;
    height: 0;
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%; }
  .arrow-down:after {
    border-top: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 1; }
  .arrow-down:before {
    border-top: 8px solid #68b2ae;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    margin-bottom: -3px;
    margin-left: -3px; }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

@media only screen and (max-width: 1500px) {
  .visible-lg {
    display: none; } }
