// Font Stacks

$text-main: 'Asap', serif;

// Colors 
$accent: #68b2ae;
$accent-light: #c0dfe3;
$accent-dark: #a9c9cd;
$accent-opaque: rgba(192, 223, 227, 0.9);

$tan: #fbf8e4;

$color-body: #58595b;
$color-header: #58595b;
$color-light: #F2F7F9;

$grey: #dcdad7;
$black: #4F4F53;
$grey-dark: #666666;
$grey-light: #F2F2F1;
$gray-9: #999;
$black: #58595b;
$white: #fff;

$color-bg: #F2F2F2;

// Media Queries

$extra-small:  "only screen and (max-width: 35.5em)";
$small:        "only screen and (max-width: 875px)";
$medium:       "only screen and (max-width: 1096px)";
$large:        "only screen and (max-width: 1500px)";