.fourohfour {
	h3 {
		font-weight: normal;
	}
}

.fourohfour-search {
	width: 50%;
	margin: 0 auto;
}

.fourohfour-search .search-field {
	padding: 5px;
	font-size: 18px;
	max-width: 100%;
	width: 100%;
	display: block;
	margin: 1em 0 4em 0;
}

.fourohfour-list {
	margin-bottom: 15em;
}

@media #{$small} {
	.fourohfour-search {
		width: 100%;
	}
}