.about-post {
	margin: 2em 1em;
	padding-bottom: 2em;
	text-align: left;
	border-bottom: 1px solid #e6e6e6;
}

.about-post:last-of-type {
	border-bottom: none;
}

.about-blog-btn {
	margin-bottom: 3em;
}