.author-related .index-post {
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #eee;
	margin-bottom: 2em;
}

.author-index-title {
	text-align: center;

	.arrow-down {
		display: block;
		padding-bottom: 8px;
		font-size: 1.2em;
	}

}

.authors-list {
	margin-top: 0;
	padding: 4em 0;
}


.author-list-item, .author-index-item {
	margin-bottom: 2em;

	a {
		color: $color-body;
	}

	&:hover .author-image-box  {
		opacity: 0.8;
	}

	&:hover .book-list-item-title a {
		color: $accent;
	}

}

.author-initials {
	font-size: 2.5em;
	position: relative;
	top: 35%;
	text-shadow: 2px 2px #ABABAB;
}


.author-image-box {
	position: relative;
	height: 200px;
	background: #ddd;
}

.author-image-initials {
	background-image: url('assets/images/texture.jpg');
	height: 200px;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.author-index-item .author-image-box, 
.author-index-item .author-image-initials {
	height: 300px;
}

.author-index-btn {
	margin-bottom: 4em;

	.btn {
		font-size: 1em;
	}
}


.author-item-title {
	margin-top: 0;
	color: #222;
}

.author-container {
	padding-bottom: 4em;
}

.author-social-links {
	border-top: 1px solid $grey-light;
	padding: 10px 0;
	width: 100%;
	font-size: 12px;

	.social-link {
		min-width: 140px;
		margin-bottom: 1em;
	}

	.social-link:nth-of-type(3n) {
		border-right: none;
	}
}

.author .social-title {
	text-transform: uppercase;
}

@media #{$medium} {
	.author-index-item {
		width: calc-width(5%, 25%);
	}

	.author-index-item .author-image-box, 
	.author-index-item .author-image-initials {
		height: 200px;
	}
}

@media #{$small} {
	.book_col5 .author-list-item {
		width: calc-width(5%, 33%);
	}
	.author-image-box, .author-image-initials {
		height: 250px;
	}

	.author-index-item {
		width: calc-width(5%, 33%);
	}

	.authors-list, .author-index-item:nth-child(4n) {
		margin-right: 4% !important;

	}

	.author-index-item .author-image-box, 
	.author-index-item .author-image-initials {
		height: 200px;
	}


}

@media #{$extra-small} {
	.book_col5 .author-list-item {
		width: calc-width(5%, 50%);
	}

	.author-item {
		padding: 0 0.5em 0.5em 0.5em;
	}

	.author-image-box, .author-image-initials {
		height: 180px;
	}

	.author-index-item {
		width: calc-width(5%, 50%);
	}

	.author-index-item .author-image-box, 
	.author-index-item .author-image-initials {
		height: 180px;
	}
}