.browse {
	text-align: center;
	margin: 4em 0;
}

.browse-item {
	display: inline-block;
	margin: 1em;

	a {
		color: $black;
		padding: 0.5em 1.5em;
		background: white;
		border: 2px solid $grey;
	}

	a:hover {
		background: $accent;
		color: white;
		border-color: $accent;
	}
}

.books  {
	padding-bottom: 10em;
}

.books .book-list {
	margin-bottom: 4em;
}

.books .book-list-block {
	padding: 2em 1em;
	border-top: 2px solid $accent;
}
.books-list .book-list-item {
	margin-bottom: 3em;
}