.book {
	padding-top: 3em;
}

	.book-image {
		img {
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
		}
	}

	.book-title {
		color: #333;
		margin-bottom: 0.1em;
		margin-top: 0;
	}

	.book-subtitle {
		margin-top: 0;
		margin-bottom: 0.25em;
	}

	.book-author {
		margin: 0;
		font-weight: bold;
		font-size: 16px;
	}

	.book-meta {
		padding-bottom: 1em;
		border-bottom: 1px solid $grey-light;
		font-weight: normal;
		h4 {
			font-size: 16px;
			font-weight: normal;
		}
	}

	.book-category-title {
		margin-bottom: 0.25em;
	}

	.book-series {
		margin-top: 0;
	}


	.book-category {
		&:after {
			content: ', ';
		}

		&:last-child:after {
			content: '';
		}
	}

	.book-formats {
		padding-bottom: 1.5em;
		border-bottom: 1px solid $grey-light;
		margin-bottom: 0;
	}

	.book-format {
		position: relative;
		border-right: 1px solid $grey-light;
		margin-bottom: 1em;
	}

	.book-format:last-child {
		border-right: none;
	}

		.icon-format svg {
			fill: #CCCCCB;
			width: 35px;
			height: 47px;
			padding: 0;
		}

		.book-info {
			margin-bottom: 0.5em;
			margin-left: 10px;
		}

		.book-info-title {
			margin-top: 0.25em;
			margin-bottom: 0;
		}

		.book-info-price {
			font-size: 14px;
		}

	.book-format-info {
		font-size: 0.75em;
		color: #333;
		margin-bottom: 0.5em;
	}

	.book-actions {
		text-transform: uppercase;
		font-size: 12px;
	}

	.book-excerpt {
		text-align: center;
		font-size: 0.9em;
		line-height: 1.1;
		padding-right: 10px;
		border-right: 1px solid $grey;
		margin-top: 1em;
	}

	.icon-start {
		display: inline-block;
		width: 100%;
		fill: $grey;
	}

	.book-social-links {
		margin-top: 2em;
		margin-right: 0 !important;
		width: 50%; 

		a {
			color: $black;
		}

		a:hover {
			color: $accent;
		}
	}

	.book-social-links .social-link {
		margin-right: 0.75em;
		padding: 0 0.75em 0 0;
		border-right: 2px solid $black;
	}

	.book-social-links .social-link:last-child {
		border-right: none;
	}

	.book-social-links .icon {
		background-color: transparent;
		color: $black;
		width: 25px;
		height: 25px;
		padding: 0;
		svg {
			fill: $black;
		}
	}

	.book-social-links .icon-social-website {
		width: 22px;
		height: 22px;
		position: relative;
		top: -4px;

		svg {
			width: 22px;
			height: 22px;
		}
	}

	.add-to-cart {
		padding: 10px 15px;
		border-bottom: 1px solid #eee;
		margin-bottom: 5px;
		width: 215px;

		img {
			position: relative;
			top: 12px;
		}

		.btn {
			margin-left: 13px;
			font-size: 12px;
		}
	}




.book-container {
	margin-top: 5em;
}

.book-container .book-section:last-child {
	border-bottom: none;
}

.author-item .book-section:last-child {
	border-bottom: none;
}

	.book .tab-pane {
		background: #F9F9F9;
		padding: 0 2em;
		border-bottom: 3px solid $accent;
	}



	.book-tabs {
		text-align: left;
	}

	.book-section {
		padding-bottom: 2em;
		padding-top: 2em;
		border-bottom: 1px solid $grey;

		h3 {
			font-size: 21px;
		}

		h3:first-child {
			margin-top: 0;
		}

		.btn {
			margin-right: 1em;
		}
	}

	.book-product-details {
		p {
			margin: 0.25em 0;
		}
	}

	.book-publicist-title {
		margin-top: 2em;
		margin-bottom: 0.25em;
		color: $color-body;
		padding-top: 1em;
		border-top: 1px solid #eee;
	}

	.book-publicist-link {
		display: block;
		padding-bottom: 1em;
		border-bottom: 1px solid #eee;
	}

	.review-author {
		position: relative;

		a {
			color: $color-header;
		}

		a:hover {
			color: $accent;
		}
	}

	.rating {
		background: url('assets/images/star-sprite.png') repeat-x;
		font-size: 0;
		height: 20px;
		line-height: 0;
		overflow: hidden;
		text-indent: -999em;
		width: 100px;
		position: absolute;
		top: 0;
		right: 0;
	}

	.rating-stars {
		background: url('assets/images/star-sprite.png');
		background-position: 0 100%;
		float: left;
		height: 20px;
		display: block;
	}



.book-also-like {
	margin-top: 4em;
	text-align: center;

	h3 {
		font-size: 20px;
		padding-bottom: 10px;
		border-bottom: 3px solid $accent;
		position: relative;
		margin-bottom: 1.5em;

		&:after,
		&:before {
		  width: 0;
		  height: 0;
		  content: "";
		  display: block;
		  position: absolute;
		  bottom: -5px;
		  left: 50%;
		}

		&:after {
		  border-top: 5px solid white;
		  border-left: 5px solid transparent;
		  border-right: 5px solid transparent;
		  z-index: 1;
		}

		&:before {
		  border-top: 9px solid $accent;
		  border-left: 9px solid transparent;
		  border-right: 9px solid transparent;
		  margin-bottom: -4px;
		  margin-left: -4px;
		}
	}
}

@media #{$large} {
	.icon-format {
		width: calc-width($padding, 16.6667%);
		*width: calc-width($padding, 16.6357%);
	}

	.book-info {
		width: calc-width($padding, 66.6667%);
		*width: calc-width($padding, 66.6357%);
	}
} 

@media #{$medium} {
		.book-header {
		width: 100%;
	}
	.book .tab-content {
		width: 100%;
	}

	.book-image {
		width: calc-width($padding, 40%);
	}

	.book-social-links .social-link {
		margin-right: 0.25em;
		padding-right: 0.5em;
	}

	.book-header-info {
		width: calc-width($padding, 60%);
	}

	.book-author {
		margin-bottom: 0.5em;
	}
}

@media #{$small} {

	.book-image {
		width: calc-width($padding, 30%);
	}

	.book-header-info {
		width: calc-width($padding, 70%);
	}

	.book-format {
		width: calc-width($padding, 50%);
	}

	.book-excerpt {
		width: 46%;
	}

	.book-social-links {
		width: 100%;
	}

	.book-excerpt:last-of-type {
		border-right: none;
	}

	.review-author a {
		margin-bottom: 1em;
	}

	.rating {
		position: static;
		height: 30px;
		margin-top: 10px;

	} 

	.side {
		width: 100%;
	}
}

@media #{$extra-small} {

	.book-formats {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.book-title {
		margin-top: 1em;
	}

	.book-format {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid $grey-light;
		padding-bottom: 1em;
		margin-bottom: 1em;
	}

	.book-excerpt {
		border-right: none;
		border-bottom: 1px solid $grey-light;
		padding-bottom: 1em;
	}

	.book-section .btn {
		margin-bottom: 2em;
		font-size: 18px;
	}

	.book-section .btn:last-child {
		margin-bottom: 0;
	}

	.book .book-list-item {
		width: calc-width($padding, 50%);
	}

	.book-tab-content {
		padding: 0.5em;
	}

	.book-image, .book-header-info {
		width: 100%;
	}
}