.book-list {
	position: relative;
	margin-bottom: 2em;
}

.book-list-item {
	margin-bottom: 1em;
	transition: .3s all;
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;

	&:hover .book-list-image {
		opacity: 0.8;

	}

	&:hover .book-list-item-title {
		color: $accent;
	}
}

	.book-list-title {
		font-weight: bold;
		font-size: 20px;

		a {
			color: $black;
			&:after {
				content: '▶';
				font-size: 8px;
				margin-left: 3px;
				position: relative;
				top: -3px;
			}
		}
	}
		.book-list-item-author {
			font-weight: 400;
			font-size: 14px;
			margin-top: 0;
			margin-bottom: 0.5em;
			color: #999;
		}

		.book-list-item-title {
			font-size: 15px;
			font-weight: bold;
			color: $color-body;
			margin-bottom: 0;
			line-height: 1.2;
		}

	.book-list-btn {
		text-align: center;
		text-transform: uppercase;
		margin-top: -1em;
	}

.book-list-tabs {
	margin-bottom: 0;
}

.book-list-tab-content > .book-list-tab-pane {
	display: none;
	padding: 1em;
}

.book-list-tab-content > .active {
	display: block;
}

.book_col5 {
	

	.book-list-item {
		text-align: left;
		width: calc-width(5%, 20%);
		margin-right: 5%;
	}
}



@media #{$medium} {
	.hide-last .book-list .book-list-item:last-of-type {
		display: none;
	}

	.book_col5 {

		.book-list-item {
			width: calc-width(5%, 25%);
			margin-bottom: 2em !important;
		}

	}


}

@media #{$extra-small} {
	.book_col5 {
		.list-unstyled {
			padding: 0;
		}

		.book-list-item {
			width: calc-width(5%, 50%);
			margin-bottom: 2em !important;
		}

		.book-list-item:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}