.comments-title {
	font-size: 24px;
}

.comment-list {
	padding-left: 0;
}

.comment {
	list-style-type: none;
	margin-bottom: 1.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #e6e6e6;
}

	.comment-respond {
		width: 75%;
	}
	
	.comment-metadata {
		font-size: 12px;

		a {
			color: $color-header;
		}
	}

	.comment-form-comment label, .comment-form label {
		display: block;
	}

	.comment-form  {

	}

	.comment-form-comment textarea, 
	.comment-form input[type="text"], 
	.comment-form input[type="email"], 
	.comment-form input[type="url"] {
	    display: block;
	    margin: 0 0 1em 0;
	    width: 80%;
	    padding: 0.5em 0.6em;
	    color: #666;
	    border: 1px solid #ccc;
	    box-shadow: inset 0 1px 3px #ddd;
	    border-radius: 4px;
	    vertical-align: middle;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	.comment-form-comment textarea:focus, 
	.comment-form input[type="text"]:focus, 
	.comment-form input[type="email"]:focus, 
	.comment-form input[type="url"]:focus {
		outline: 0;
		border-color: $accent-dark;
		color: #888;
	}

	.comment-form-comment textarea {
		width: 100%;
	}

	.form-submit input[type="submit"] {
	    color: white;
	    background-color: $accent;
	    border-color: transparent;
	    float: right;
	}

	.form-submit:after {
		content: '';
		display: table;
		clear: both;
	}

	.form-submit input[type="submit"]:hover {
	    background-color: $accent-dark;
	    color: white;
	    border-color: $accent-dark;
	}

@media #{$small} {
	.comment-respond {
		width: 100%;
	}
}