.entry {
	margin-bottom: 2em;
	padding: 2em 0;
	text-align: left;
	border-bottom: 1px solid $grey-light;
}

.entry:first-of-type {
	padding-top: 0;
}

.entry:last-of-type {
	border-bottom: none;
}

	.entry-title {
		font-size: 22px;
		color: $black;
		margin: 0;

		a {
			color: $black;
		}

		a:hover {
			color: $accent;
		}
	}

	.entry-index-image {
		margin-bottom: 1em;

		img {
			border: 2px solid #ddd;
			box-shadow: 0px 0px 2px 0px rgba(100, 100, 100, 0.5);
		}
	}

	.page-title {
		margin-bottom: 1em;
	}

	.entry-meta {
		font-size: 14px;
		margin-bottom: 1em;
	}

	.entry .btn-primary {
		width: 100%;
	}

	.entry-book {
		max-width: 150px;
		float: left;
		padding-right: 2em;
		padding-bottom: 2em;
		padding-top: 0.25em;
	}


@media #{$medium} {
	.entry-item {
		width: 100%;
	}
	.entry-book {
		max-width: 130px;
		padding-right: 1.25em;
		padding-bottom: 1.25em;
	}

}