.footer {
	background: white;
	border-top: 5px solid $black;
	color: $black;
	padding-top: 1em;
	padding-bottom: 1em;
}

	.footer .nav-links-social {
		margin-top: 0.5em;
	}

	.footer .nav-links-social .icon {
		width: 20px;
		height: 20px;
		fill: $black;

		&:hover {
			fill: $black;
		}
	}

	.footer-wrap {
		padding: 0;
		font-size: 14px;
	}

	.footer-copy {
		font-size: 12px;
	}

	.footer-links li {
		display: inline-block;
		margin-right: 2em;
		margin-bottom: 0.5em;

		a {
			color: $black;
		}

		a:hover {
			color: $black;
		}
	}