.header-wrapper {
	background-color: white;
	border-bottom: 5px solid $black;
}

.header {
	margin-bottom: 10px;
	padding: 30px 0 20px 0;
}

.header-logo .logo {
	max-height: 90px;
	padding-top: 12px;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

.header-search {
	position: relative;
	top:-2px;
	padding-right: 2%;
	padding-top: 25px;
	width:230px;
	display: inline-block;
	#invserchbtn {
		position: absolute;
		height: 40px;
		width: 40px;
		display: none;
		z-index: 100;
	}

	.search-field {
		width: 160px;
		border: 2px solid $black;
		border-radius: 0;
  		height: 40px;
	}

	.search-submit {
		display: block;
		border: 0;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		width: 40px;
		height: 40px;
		background: url("assets/images/search.png") 11px 10px no-repeat;
		background-color: $black;
		padding: 17px;
		border: 2px solid $black;
		float: left;

		&:hover {
			background-color: $white;
			background: url("assets/images/search_blk.png") 11px 10px no-repeat;
		}
	}
}

.nav, .header-search, .header-social {
	padding-top: 1.5em;
	padding-bottom: 2em;
	margin: 0;
}


.cart-btn {
	display: inline;
	padding: 10px;
	position: relative;
	top: -7px;
	&:hover {
		.icon {
			fill: $black;
		}
	}

	.icon {
		fill: $white;
		width: 20px;
		position: relative;
		top: 9px;

		svg {
			fill: $white;
		}
	}
}

.header .nav {
	margin-right: 2%;
	width: auto;
}

.header .header-search {
	margin-right: 2%;
}

.header-logo {
	width: 24%;
	margin-right: 4% !important;
}

.nav-wrapper {
	width: 72%;
	margin-right: 0 !important;
}

	.nav {
		margin: 0;
	}

	.header-social {
		margin-right: 0!important;
		position: relative;
  		display: inline-block;
		position: relative;
		  zoom: 1;
		  letter-spacing: normal;
		  word-spacing: normal;
		  vertical-align: top;
		  text-rendering: auto;
		
	}
	.nav-links-social {
			margin-left: 50px;
  		display: inline-block;
		position: relative;
		  zoom: 1;
		  letter-spacing: normal;
		  word-spacing: normal;
		  vertical-align: top;
		  text-rendering: auto;
		  padding-top: 1.5em;
		  padding-bottom: 2em;
			.icon {
				fill: $black;
				width: 20px;
				margin-right: 10px;
				&:hover {
					fill: $accent;
				}
				svg {
					fill: $black; 
					&:hover {
						fill: $accent;
					}
				}
			}
		}

@media #{$large} {


	.header-search {
		width: 40px;
		padding-right:0px;
		#invserchbtn {
			display: block;
		}
		.search-field {
			display: none;
		 	position: absolute;
		 	left: 40px;
		 	z-index: 100;
  		 	padding: 0px;
		}
	}

	.header-social {

		.nav-links-social {
			position: absolute;
			width: 100%;
			right: 0;
			top: -10px;
		}
	}
}