.index .book-list-tab-content {
	border-bottom: 1px solid $grey-light;
}

.index-blog {
	text-align: center;
}

.ad-300x250 {
	margin-bottom: 1em;
}

.podcast-subscribe {
	text-align: center;
	margin-bottom: 2em;
}

.index-blog {
	margin-bottom: 3em;
}

.index .book-list-item {
	width: calc-width($padding, 24%);
	*width: calc-width($padding, 22.9690%);
	padding-right: 5%;
	margin-right: 5%;
	border-right: 1px solid $grey-light;
}

.index .book-list-item:first-child {
	margin-left: 4%;
}

.index .book-list-item:last-child {
	border-right: none;
	margin-right: 0;
}

@media #{$small} {
	.index-blog, .index-side {
		width: 100%;
	}
}

@media #{$extra-small} {
	.index .book-list-item:first-child {
		margin-left: 0;
	}

	.index .book-list-item {
		width: calc-width($padding, 48%);
		margin-right: 10%;
	}

	.index .book-list-item:nth-child(2n) {
		border-right: none;
		margin-right: 0;
	}
}