.leaderboard {
	text-align: center;
	background: $grey;
	border-bottom: 10px solid white;
}

.leaderboard-image {
	margin: 1em;
	padding: 0.5em;
	display: inline-block;

	img {
		width: 100%;
	}
}

@media #{$small} {
	.leaderboard-image {
		padding: 0;
		margin-bottom: 1em;
	}
}