.nav {

}

		.nav-links-item {
			display: inline-block;
			margin: 0 20px 0 0;
			position: relative;
			border-bottom: 2px solid $accent;

			a {
				font-size: 13px;
				color: $black;
				font-weight: bold;
			 	display: inline-block;
			  	text-transform: uppercase;
			  	padding: 0 15px 7px 15px;
			}

			& a:hover, &.active a .nav-links-top {
				color: $accent;
				border-bottom-color: $accent;
			}

		}

		.nav-links-top {
			&:after,
			&:before {
			  width: 0;
			  height: 0;
			  content: "";
			  display: block;
			  position: absolute;
			  bottom: -2px;
			  left: 43%;
			}

			&:after {
			  border-bottom: 5px solid white;
			  border-left: 5px solid transparent;
			  border-right: 5px solid transparent;
			  z-index: 1;
			  margin-top: 2px;
			}

			&:before {
			  border-bottom: 8px solid $accent;
			  border-left: 8px solid transparent;
			  border-right: 8px solid transparent;
			  margin-top: -3px;
			  margin-left: -3px;
			}
		}

		.nav-links-top.active {
			border-bottom-color: $accent-dark;

			.top-link {
				color: $accent;
			}

			&:before,
			&:after {
				bottom: -5px;
			}

			&:before {
				border-top: 8px solid $accent-dark;
				border-bottom: none;
				margin-bottom: -3px;
				margin-left: -3px;
			}

			&:after {
				border-top: 5px solid white;
				border-bottom: none;
			}
		}



			.nav-links-children {
				display: none;
				position: absolute;
				text-align: center;
				background-color: $accent;
				left: -25px;
				top: auto;
				margin: 2px 0 0 0;
				padding: 0;
				z-index: 10;
				width: 120px;
				border-bottom: 3px solid $accent;
				

				li {
					display: block;
					padding: 0.5em;
					margin: 0 10px 0 10px;
					border-bottom: 1px solid $accent-light;
				}

				li:last-child {
					border-bottom: none;
				}

				a {
					color: white;
					display: block;
					font-size: 11px;
					padding: 0;
					width: 100%;
					line-height: 1.25;
				}

				a:hover {
					color: #eee;
				}
			}

			.allow-hover:hover > .nav-links-children {
				display: block;
				position: absolute;
			}
			.allow-hover:last-child .nav-links-children {
				left: -11px;
			}

			.allow-hover:hover.nav-links-top {
				&:after, &:before {
					border-bottom-color: transparent;
				}
			}

	.search-form {
		position: relative;
		height: 35px;
		.screen-reader-text {
			display: none;
		}
	}

	.search-submit {
		// TODO: GET THIS INSIDE OF SEARCH FIELD
		display: none;
	}

	.search-field { 
		height: 35px;
		width: 0px;
		max-width: 175px;
		padding: 5px;
		font-size: 14px;
		box-sizing: border-box;
		border: 1px solid $grey;
		font-weight: normal;
		border-radius: 5px;
		margin-right: 5px;
	}


	.sub-nav {
		border-bottom: none;
		margin-top: 0;
		padding-top: 1em;
		margin-bottom: 0;
	}

	.sub-nav .list-unstyled {
		margin-top: 0;
		border-bottom: 2px solid $accent;
	}

	li.current-menu-item {
		   &:before
		   &:after,
		   &:before,
		   &:after {
				bottom: -2px;
				border-top: none;
		   }

		   &:before,   
		   &:before, {
		   	border-bottom: 8px solid $accent-dark;
		   	margin-bottom: 0;
		   	margin-left: -3px;
		   }

		   &:after,
		   &:after {
		   border-bottom: 5px solid white;
		   }
	}


#toggle-nav {
	display: none;
}


@media only screen and (max-width: 1150px) {
	
	#nav {
		width: 70%;
	}
	.header {
	  margin-bottom: 0px;
	  padding: 10px 0 0px 0;
	}
	.header-wrapper {
		padding-bottom: 0em;
	}
	.header-logo {
		width: 25%;
	}
	.header .nav {
	  margin-right: 0%;
	  width: auto;
	}
	.nav {
		width: 100%;
		border-right: none;
	}

	.header-search {
	}

	.nav-links-social {
		display: none;
	}
}

@media #{$small} {
	.sub-nav .list-unstyled {
		border-bottom: none;
	}

	#toggle-nav {
		background: url('assets/images/hamburger.png') 15px 50% no-repeat;
		position: absolute;
		top: 1em;
		left: 1em;
		display: block;
		width: 48px;
		height: 40px;
		text-indent: -9999px;
		background-size: 25px 20px;
	}

	.header-wrapper {
		padding-bottom: 0;
	}

	.header-search, .header-social {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
	}
	.header {
		padding: 0;
		margin-bottom: 0;
	}
	.header-search #invserchbtn {
		display: none;
	}
	.header-search .search-field {
		display: block;
	}
	.header-logo {
		width: calc-width($padding, 75%);
		border-right: none;
		margin-left: calc-width($padding, 25%);
	}

	#nav {
		float: left;
		width: 100%;
		margin: 0 0 10px 0;
		text-align: left;
		height: 0;
		overflow: hidden;
	}

	#nav.nav-open {
		height: auto;
		overflow: visible;
	}

	.nav {
		width: 100%;
	}

	.nav-links {
		padding: 0;
		margin-bottom: 15px;
	}

	.nav-links-item {
		width: 100%;
		padding: 0.5em 0;
		margin-right: 0;

		&:after, &:before {
			border-color: transparent;
		}
	}

	.header-search {
		width: 100%;
	}

	.header-social {
		padding-left: 0;
	}

	.nav-links-children {
		display: block;
		position: static;
		float: none;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		background: none;
		border: none;
	}

	.header-search {
		padding-bottom: 0;
	}

	.header-search .search-submit {
		right: 2px;
	}

	.nav-links-children li {
		display: none;
	}
	.search-field {
	  width: 100% !important;
	  padding: 5px !important;
	}

 }

 @media #{$extra-small} {
 	#toggle-nav {
 		background-size: 19px 16px;
 		top: 0.6em;
 	}
 }
