.newsletter {
	text-align: center;
	border-bottom: 1px solid $grey-light;
	padding: 0 0 3em 0;
	margin-bottom: 4em;
}

	.newsletter-title {
		font-size: 20px;
		font-weight: normal;
	}

	.newsletter-caption {
		font-size: 14px;
		color: $black;
	}

	.newsletter-checkbox {
		margin-right: 20px;
		font-weight: normal;
		font-size: 14px;

		input[type="checkbox"] {
			margin-right: 5px;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	.newsletter-signup {
		border: none;
		margin-top: 1em;

		.textbox {
			width: 50%;
		}
	}

	.newsletter-side {
		.newsletter-checkbox {
			display: block;
		}

		.newsletter-signup {
			text-align: center;
		}

		.textbox {
			width: 100%;
		}

		.submit {
			margin: 0.5em 0 2em 0;
			width: 90%;
		}
	}

@media #{$extra-small} {
	.newsletter {
		text-align: left;
	}

		.newsletter-checkbox {
			display: block;
		}

		.newsletter-signup .textbox {
			width: 100%;
		}

		.newsletter-signup .submit {
			display: block;
			margin: 1em 0;
		}
}