.pagination {
	padding: 2em 0;
	margin-top: 1em;
	border-top: 1px solid $grey-light;

	.page-numbers {
		border: 1px solid $accent;
		border-radius: 3px;
		color: $accent;
		padding: 5px 15px;
		margin-right: 5px;
		display: inline-block;
		margin-bottom: 1em;
	}

	.page-numbers:hover, .page-numbers.current {
		background: $accent;
		color: white;
		border-color: $accent;
	}
}