.podcast:after {
	content: '';
	display: table;
	clear: both;
}

.podcast .entry-book {
	width: 150px;
	display: inline-block;
}


/** audio player styles **/
.audio-player, .audio-player div, .audio-player h2, .audio-player a, .audio-player span, .audio-player button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

div.audio-player {
  position: relative;
  width: 500px;
  height: 140px;
  margin: 0 auto;
  background: #eee !important;
  background: -webkit-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
  background: -moz-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
  background: -o-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
  background: -ms-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
  background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  max-width: 100%;
  margin-left: 0;
}

.audio-player h2 {
  font-size: 16px;
  margin-top: 2.5em;
  padding: 1em;
}

/* play/pause control */
.mejs-controls .mejs-button button {
  cursor: pointer;
  display: block;
  position: absolute;
  text-indent: -9999px;
  background: transparent url('assets/images/audioplayer.png');
}

.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
  width: 40px;
  height: 40px;
  top: 25px;
  left: 10px;

}
.mejs-controls .mejs-pause button { background-position: 0 -42px; }


/* mute/unmute control */
.mejs-controls .mejs-mute button, .mejs-controls .mejs-unmute button {
  width: 32px;
  height: 30px;
  top: 3px;
  right: 142px;
  background-position: 0 -168px;
}
.mejs-controls .mejs-unmute button { background-position: -38px -168px; }

.btn-audio {
	margin-top: 1em;
}

/* volume scrubber bar */
.mejs-horizontal-volume-slider {
  position: absolute;
  top: 13px;
  right: 15px;
  cursor: pointer;
}

.mejs-offscreen {
	display: none;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  width: 120px;
  height: 11px;
  background: #212227;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.25);
  -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.25);
  box-shadow: inset 0px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  position: absolute;
  width: 0;
  height: 9px;
  top: 1px;
  left: 1px;
  background: $accent;
  background: -webkit-linear-gradient(top, $accent-dark 0%, $accent-dark 100%);
  background: -moz-linear-gradient(top, $accent-dark 0%, $accent-dark 100%);
  background: -o-linear-gradient(top, $accent-dark 0%, $accent-dark 100%);
  background: -ms-linear-gradient(top, $accent-dark 0%, $accent-dark 100%);
  background: linear-gradient(top, $accent-dark 0%, $accent-dark 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}


/* time scrubber bar */
.mejs-controls div.mejs-time-rail { width: 380px; }

.mejs-controls .mejs-time-rail span {
  position: absolute;
  display: block;
  width: 380px;
  height: 12px;
  top: 40px;
  left: 55px;
  cursor: pointer;
  -webkit-border-radius: 0px 0px 2px 2px;
  -moz-border-radius: 0px 0px 2px 2px;
  border-radius: 0px 0px 2px 2px;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
  background: #565860;
  width: 380px !important; /* fixes display bug using jQuery 1.8+ */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  top: 0;
  left: 0;
  width: 0;
  background: #7b7d82;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
  top: 0;
  left: 0;
  width: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: $accent;
  background: -webkit-linear-gradient(top, $accent-dark 0%, $accent-dark 100%);
  background: -moz-linear-gradient(top, $accent-dark 0%, $accent-dark 100%);
  background: -o-linear-gradient(top, $accent-dark 0%, $accent-dark 100%);
  background: -ms-linear-gradient(top, $accent-dark 0%, $accent-dark 100%);
  background: linear-gradient(top, $accent-dark 0%, $accent-dark 100%);
}

/* metallic sliders */
.mejs-controls .mejs-time-rail .mejs-time-handle {
  position: absolute;
  display: block;
  width: 20px;
  height: 22px;
  top: -6px;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
  position: absolute;
  display: block;
  width: 12px;
  height: 14px;
  top: -1px;
}


/* time progress tooltip */
.mejs-controls .mejs-time-rail .mejs-time-float {
  position: absolute;
  display: none;
  width: 33px;
  height: 23px;
  top: -26px;
  margin-left: -17px;
  z-index: 9999;
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
  width: 33px;
  display: block;
  left: 0;
  top: 4px;
  /** font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; **/
  font-size: 10px;
  font-weight: bold;
  color: #666;
  text-align: center;
  z-index: 9999;
}

.mejs-currenttime, .mejs-duration {
	color: $color-header;
	font-size: 10px;
}

.mejs-currenttime {
	position: relative;
	top: 45px;
 	left: 55px;
}

.mejs-duration {
	position: relative;
	top: 20px;
 	left: 410px;
}
