.search-page {
	padding: 2em;
	position: relative;
}

.search-results .index-post {
	box-shadow: none;
	border-top: none;
	padding: 1em;
	border-bottom: 1px solid #eee;
}

.search-count {
	position: absolute;
	top: 1em;
	right: 1em;
	font-weight: bold;
	font-size: 14px;
}

.search-item .btn {
	display: block;
	width: 100%;
}

.search-item .add-to-cart .btn {
	display: inline-block;
	width: auto;
}

.facets-group {
	margin-bottom: 2em;
}

.facets-group:first-of-type {
	margin-top: 1em;
}

#searchCont.is-loading {
	opacity: 0.5;
}

@media #{$small} {
	
	.search .tab-content {
		width: 100%;
	}

	.search .search-side {
		width: 100%;
	}
	.search-news-list {
		order: 1;
	}
	.search-news-sidebar {
		order: 2;
	}
	.facets-group {
		width: 50%;
		float: left;
		min-height: 100px;
	}

	.facets-group:first-of-type {
		margin-top: 0;
	}

	.search-item .span_2 {
		width: 30%;
	}

	.search-item .span_9 {
		width: 66%;
		margin-right: 0;
		font-size: 0.9em;
	}
}