.side-link {
	display: block;
	text-align: left;
	padding: 0.5em 0;
	color: $color-body;
	border-bottom: 1px solid $grey-light;
}

.side h3 {
	margin-top: 0;
}

.side-links li:last-child {
	margin-bottom: 3em;
}

.newsletter-side {
	.newsletter {
		text-align: left;
		padding-bottom: 0;
		margin-bottom: 2em;
	}
}

@media #{$medium} {
	.newsletter-side, .ad-side, .index-side {
		width: 100%;
	}

	.ad-300x250 {
		float: left;
		width: 46%;
		margin-right: 4%;
	}
}

@media #{$extra-small} {
	.newsletter-side, .ad-side {
		width: 100%;
	}
}