.icon-social-facebook { background-image: url('png/social-facebook.png'); background-repeat: no-repeat; }

.icon-social-googleplus { background-image: url('png/social-googleplus.png'); background-repeat: no-repeat; }

.icon-social-instagram { background-image: url('png/social-instagram.png'); background-repeat: no-repeat; }

.icon-social-pinterest-outline { background-image: url('png/social-pinterest-outline.png'); background-repeat: no-repeat; }

.icon-social-pinterest { background-image: url('png/social-pinterest.png'); background-repeat: no-repeat; }

.icon-social-tumblr { background-image: url('png/social-tumblr.png'); background-repeat: no-repeat; }

.icon-social-twitter { background-image: url('png/social-twitter.png'); background-repeat: no-repeat; }

.icon-social-youtube { background-image: url('png/social-youtube.png'); background-repeat: no-repeat; }

