html {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  background: $grey;
  color: $black;
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $accent;

  &:hover {
    color: $accent-dark;
  }
}


.container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  min-height: 80%;
}

.container.m-expanded {
  width: 95%;
}

.main {
  padding-top: 2em;
}

@media (min-width: 800px) {
  .container {
    width: 90%;
  }
}


@media (min-width: 1096px) {
  .container {
    width: 98%;
  }
}

@media (min-width: 1500px) {
  .container, .container.m-expanded {
    width: 1500px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.bg {
  background: white;
  box-shadow: 0 8px 8px 0 rgba( 128, 128, 128, .2 );
}

.main {
  padding-left: 128px;
  padding-right: 128px;
}

@media #{$large} {
  .main {
    padding-left: 10px;
    padding-right: 10px;
  }

}