$padding: 4%;
@function calc-width($padding, $base-width) {
	@return $base-width - $padding
}

.grid {
	letter-spacing: -.31em;
	*word-spacing:-.43em;
	text-rendering: optimizespeed;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

.grid [class*='span'] {
	margin-right: $padding;
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

.span_1 {
	width: calc-width($padding, 8.3333%);
	*width: calc-width($padding, 8.3023%);
}

.span_2 {
	width: calc-width($padding, 16.6667%);
	*width: calc-width($padding, 16.6357%);
}

.span_3 {
	width: calc-width($padding, 25%);
	*width: calc-width($padding, 24.9690%);
}

.span_4 {
	width: calc-width($padding, 33.3333%);
	*width: calc-width($padding, 33.3023%);
}

.span_5 {
	width: calc-width($padding, 41.6667%);
	*width: calc-width($padding, 41.6357%);
}

.span_6 {
	width: calc-width($padding, 50%);
	*width: calc-width($padding, 49.9690%);
}

.span_7 {
	width: calc-width($padding, 58.3333%);
	*width: calc-width($padding, 58.3023%);
}

.span_8 {
	width: calc-width($padding, 66.6667%);
	*width: calc-width($padding, 66.6357%);
}

.span_9 {
	width: calc-width($padding, 75%);
	*width: calc-width($padding, 74.9690%);
}

.span_10 {
	width: calc-width($padding, 83.3333%);
	*width: calc-width($padding, 83.3023%);
}

.span_12 {
	width: 100%;
}

.last {
	margin-right: 0;
}

.grid .span_3:nth-child(4n) {
	margin-right: 0;
}

@media screen and (max-width: 35.5em) {
	.span_1, .span_2, .span_3, .span_4, .span_5, .span_6, .span_7, .span_8, .span_9, .span_10, .span_11, .span_12 {
		width: 100%;
	}

}