*,
*:before,
*:after {
	box-sizing: border-box;
}

.cf:after {
	content: '';
	display: table;
	clear: both;
}

.text-hide, .screen-reader-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 2em !important;
  margin-bottom: 2em !important;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  padding-right: 2em;
  padding-bottom: 2em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.push-bottom {
  margin-bottom: 2em;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

.video-wrapper {
  max-width: 500px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.google-map-container {
  position: relative;
  padding-bottom: 75%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.pad-right {
  padding-right: 4em;
}

.push-right {
  margin-right: 2em;
}

.push-bottom {
  margin-bottom: 2em;
}

.button-box {
  position: relative;
}

.arrow-down {
  position: relative;
  top: 2px;
  border-bottom: 2px solid $accent;
  margin: 0;

   &:after,
   &:before {
     width: 0;
     height: 0;
     content: "";
     display: block;
     position: absolute;
     bottom: -5px;
     left: 50%;
   }

   &:after {
     border-top: 5px solid white;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     z-index: 1;
   }

   &:before {
     border-top: 8px solid $accent;
     border-left: 8px solid transparent;
     border-right: 8px solid transparent;
     margin-bottom: -3px;
     margin-left: -3px;
   }
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  color: #a94442;
  background-color:#f2dede;
  border-color: #ebccd1;
}
@media #{$large} {
  .visible-lg {
    display: none;
  }
}