.icon {
	width: 30px;
	height: 30px;
	border-radius: 25px;
	display: inline-block;
	margin-right: 5px;

	svg {
		fill: $black;
		width: 30px;
		height: 30px;
		padding: 6px;
	}
}

.social-links {

	.social-link {
		display: inline-block;
	}

	.icon {
		vertical-align: middle;
		margin-right: 0;
		padding-left: 5px;
	}
}

.social-title {
	position: relative;
	top: 1px;
}


.nav-links-social {
	display: inline-block;

	.icon {
		width: 25px;
		height: 25px;

		svg {
			padding: 0;
			fill: white;
		}
	}

	.icon:hover {
		svg {
			fill: $accent-dark;
		}
	}
}