.modal {
  display: none;
  width: 30%;
  background: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;

  input, textarea, select {
    width: 100%;
  }
}

.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url('assets/images/close.png') no-repeat 0 0;
}

.modal-btn {
  margin-bottom: 1em;
  display: inline-block;
}

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(spinner.gif) #111 no-repeat center center;
  border-radius: 5px;
}

@media #{$large} {
  .modal {
    width: 50%;
  }
}

@media #{$small} {
  .modal {
    width: 90%;
  }
}