

.m-left {
	text-align: left;
}

.tab-content > .tab-pane {
	display: none;
}



.tab-content > .active {
	display: block;
}

.tab-nav, .sub-nav {
	margin: 0;
	display: block;

	li {
		display: inline-block;
		padding: 0 10px 10px 10px;
		border-bottom: 2px solid $accent;
		margin: 0 0 1em 5px;

		&.active, &:hover, &.current-menu-item {
			border-bottom: 2px solid $accent-dark;
		}
	}


}

@media only screen and (min-width: 876px) {
	.m-border-top {
		border-top: 2px solid $accent-dark;
		margin-top: -2px;
		z-index: 0;
	}

	.tab-nav, .sub-nav {
	  text-align: center;
	  list-style: none;
	  padding: 0;
	  z-index: 5;
	  position: relative;
	  border-bottom: 2px solid $accent;

		  li {
			  padding: 0 0 0 20px;
			  position: relative;
			  top: 2px;
			  border-bottom: 2px solid $accent;
			  margin: 0;

			  a, span {
			  	color: $color-header;
			  	padding: 0.6em 1.5em;
			  	display: inline-block;
			  	margin-right: -5px;
			   }

			   &:after,
			   &:before {
			     width: 0;
			     height: 0;
			     content: "";
			     display: block;
			     position: absolute;
			     bottom: -5px;
			     left: 50%;
			   }

			   &:after {
			     border-top: 5px solid white;
			     border-left: 5px solid transparent;
			     border-right: 5px solid transparent;
			     z-index: 1;
			   }

			   &:before {
			     border-top: 8px solid $accent;
			     border-left: 8px solid transparent;
			     border-right: 8px solid transparent;
			     margin-bottom: -3px;
			     margin-left: -3px;
			   }

			   &.active:before,
			   &.active:after,
			   &:hover:before,
			   &:hover:after {
					bottom: -2px;
					border-top: none;
			   }

			   &.active:before,   
			   &:hover:before, {
			   	border-bottom: 8px solid $accent-dark;
			   	margin-bottom: 0;
			   	margin-left: -3px;
			   }

			   &.active:after,
			   &:hover:after {
			   border-bottom: 5px solid white;
			   }

			}
	}
}
@media #{$extra-small} {
	.tab-nav {
		text-align: center;
	}
	.tab-nav li {
		text-transform: capitalize;
	}
}